<h1>Property</h1>

<ul>
	<li>Title: <%= @listing.title %></li>
	<li>Description: <%= @listing.description %></li>
	<li>Location: <%= @listing.location %></li>
	<li>Contact email: <%= @listing.email %></li>
</ul>